---
layout: layouts/home.njk
permalink: /kb/power/
eleventyNavigation:
  key: Power & Electrical Issues
  parent: SmartBrew Knowledge Base
  order: 2
---

<h1>Power & Electrical Issues</h1>
<h2>1. No Power to SmartBrew</h2>
  <ul>
    <li>Check that the <a href="check-power/">SmartBrew machine has power</a>.</li>
  </ul>

  <h2>2. Tablet</h2>
  <ul>
    <li>Make sure the <a href="check-tablet/">tablet is turned on</a>.</li>
  </ul>

<h2>KB Archive</h2>

{% set postslist = collections.kb %}
{% include "postslist.njk" %}
