---
title: SmartBrew Knowledge Base - Leaking Issues
layout: layouts/home.njk
permalink: /kb/leaking/
eleventyNavigation:
  key: Leaking
  parent: SmartBrew Knowledge Base
  order: 2
---
<h2>Sweetener</h2>
  <ul>
    <li><a href="/kb/leaking/sweetener-bib-compartment/">BIB Compartment</a></li>
    <li><a href="/kb/leaking/brew-basket/">Brew Basket</a></li>
  </ul>

<h2>Tea</h2>
  <ul>
    <li><a href="/kb/leaking/brew-basket/">Brew Basket</a></li>
    <li><a href="/kb/leaking/pinchtube/">Pinch tube drips</a></li>
  </ul>

<h2>Water</h2>
  <ul>
    <li><a href="/kb/leaking/brew-basket/">Brew Basket</a></li>
    <li><a href="/kb/leaking/cold-water/">Cold Water Drips Continuously</a></li>
    <li><a href="/kb/leaking/drips-continuously/">Hot Water Drips Continuously</a></li>
    <li><a href="/kb/leaking/tank-overfilling/">Tank Overfilling</a></li>
  </ul>