---
title: SmartBrew Knowledge Base - Leaking Issues
layout: layouts/home.njk
permalink: /kb/leaking/
eleventyNavigation:
  key: Leaking
  parent: SmartBrew Knowledge Base
  order: 2
---
<h2>{{title}} Archives</h2>
{% set postslist = collections.leaking %}
{% include "postslist.njk" %}
