---
title: SmartBrew Knowledge Base - Other Issues
layout: layouts/home.njk
permalink: /kb/other/
eleventyNavigation:
  key: Other
  parent: SmartBrew Knowledge Base
  order: 2
---

<h2>{{title}} Archives</h2>

{% set postslist = collections.other %}
{% include "postslist.njk" %}
