---
layout: layouts/base.njk
templateClass: tmpl-post
---
{% block content %}

<article>
  <h1>{{ title }}</h1>
  <aside>
  {{ content | toc | safe }}
</aside>
  {{ content | safe }}
    {% include "partials/resolutionCodes.html" %}

    {# {% -if {{ dispatchTech }} = Yes %}
      {% include "partials/dispatchTech.html" %}
     {% endif %} #}

</article>

{% endblock %}
<hr>
Tags:
  {% for tag in tags -%}
    <a href="/tags/{{ tag }}" class="post-tag">{{ tag }}</a>
  {% endfor -%}

<!--<ul>
  {%- set nextPost = collections.kb | getNextCollectionItem(page) %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.kb | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>-->
