---
title: SmartBrew Knowledge Base - Brewing Issues
layout: layouts/home.njk
permalink: /kb/brewing/
eleventyNavigation:
  key: Brewing
  parent: SmartBrew Knowledge Base
  order: 2
---

  <ul>
    <li><a href="/kb/brewing/error-screens/">Error Screens</a></li>

  </ul>

<h2>{{title}} Archives</h2>

{% set postslist = collections.brewing %}
{% include "postslist.njk" %}
