---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>TEAZZERS Support</h1>
  <ul>
    <li><a href="/kb/">SmartBrew Knowledge Base</a></li>
    <li><a href="https://teazzers.azurewebsites.net">TeaWorld</a></li>
    <li><a href="https://www.accurants.com">Accurants</a></li>
    <li><a href="https://teazzers.apptricityondemand.com/">Apptricity</a></li>
  </ul>

<h2>Latest TeaWorld News</h2>

{% set postslist = collections.posts | head(-5) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
